.table-container{
    height: 250px;
    background-color: rgb(77, 7, 77);
  }
  .flags-container > div{
    cursor: pointer;
  }

  .purple{

    background-color: purple;
    cursor: pointer;
  }
  .btn:hover{
    background-color: rgb(77, 7, 77);
  }