<div class="vh-100">
    <app-navbar [showButtons]="true" [usuario]="user" (loadingEvent)="loading=$event"></app-navbar>
    <app-spinner [showSpinner]="loading"></app-spinner>
    <div class="container-fluid contenedor w-100 mt-2 position-relative">
      
      <div class="row justify-content-center align-items-center gap-5 gap-md-0 ">
        <div class="col-10 text-center mb-md-5">
          <h1 class="mt-5">Alta Producto</h1>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 ">
          <app-form-producto #form [selectedCountry]="selectedCountry"
          (loadingEvent)="loading = $event"></app-form-producto>
        </div>
        
        <div class="col-12 col-md-6 col-lg-5 col-xxl-3 pb-5 pb-md-0">
          <app-tabla-paises (selectCountryEvent)="selectCountry($event)"></app-tabla-paises>
        </div>
      </div>
    </div>
    </div>