<div class="container-fluid contenedor p-4 h-100">
  <app-navbar [showButtons]="true" [usuario]="user" (loadingEvent)="loading=$event"></app-navbar>
  <app-spinner [showSpinner]="loading"></app-spinner>
  <div class="row row-table justify-content-center pt-5 overflow-y-auto h-50">
    <div class="col-10 ">
      <h1>Lista de Pizzas</h1>
    
      <div class="table-container">
       <app-pizza-lista (selectPizzaEvent)="selectedPizza($event)">
        </app-pizza-lista>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-3 h-50 gap-4">
    <div class="col-12 col-md-3">
      <app-pizza-alta (pizzaCreadaEvent)="pizzaCreada($event)"></app-pizza-alta>
    </div>
    <div class="col-12 col-md-3">
      <app-pizza-modificacion #modificar [pizza]="selected"></app-pizza-modificacion> 
    </div>
    <div class="col-12 col-md-3">
      <app-pizza-baja #eliminar [pizza]="selected"></app-pizza-baja>
    </div>
  </div>

</div>