<div class="vh-100">
  <app-spinner [showSpinner]="loading"></app-spinner>
  <app-navbar></app-navbar>
  <div class="container-fluid content h-100">
    <a routerLink="/bienvenido"><i class="fa-solid fa-arrow-left position-absolute top-0 start-0 m-4 fs-3 back-button"></i></a>

    <form class="container" [formGroup]="form" (ngSubmit)="submit()">
      <div class="row justify-content-center mb-3">
        <div class="col-12 text-center">
          <h1>Iniciar Sesión</h1>
        </div>
      </div>
      <div class="form">
      <mat-form-field appearance="outline" class="focused">
        <mat-label class="label">Ingresa tu email</mat-label>
        <input class="input" matInput [formControl]="form.controls.email" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="form.controls.email.invalid">{{ getErrorMessageEmail() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="label">Ingresa tu contraseña</mat-label>
        <input class="input" matInput [type]="hide ? 'password' : 'text'" [formControl]="form.controls.password" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.password.invalid">{{ getErrorMessagePassword() }}</mat-error>
      </mat-form-field>
    </div>
        <div class="col-12 d-flex justify-content-center">
          <button class="btn btn-primary expand" expand="full" shape="round" type="submit">
            Iniciar Sesión
          </button>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button class="btn btn-primary expand" expand="full" shape="round" (click)="autoAdmin()">
            Admin
          </button>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button class="btn btn-primary expand" expand="full" shape="round" (click)="autoEmpleado()">
            Empleado
          </button>
        </div>
    </form>
  </div>
</div>
