<div *ngIf="showUsersModal" class="modal-background" (click)="backClick($event)">

    <div class="modal-container">
      <i class="fa-solid fa-xmark modal-close" (click)="hideModalEvent.emit(false)"></i>
        <h1 class="modal-title">Elige Usuario</h1>
      <div class="modal-content">
        <button (click)="userSelected($event,'123456')" class="btn btn-primary" >juan@gmail.com</button>
        <button (click)="userSelected($event,'123456')" class="btn btn-primary" >admin@gmail.com</button>
        <button (click)="userSelected($event,'123456')" class="btn btn-primary" >empleado@gmail.com</button>
      </div>
    </div>
  </div>