nav{
    background-color: purple;
    .navbar-brand, .navbar-toggler-icon
    {
        color: #fff!important;
    }
}
.navbar-toggler{
    color: #fff !important;
}
.offcanvas{
    background-color: rgb(177, 18, 177);
}
li{
    list-style: none;
}
.nav-link{
    color: #ffff;
    font-size: 1.5rem;
    margin: 15px;
}
.btn{
    margin: 15px;
    text-decoration: none;
    background-color: purple;
    border: 1px solid purple;
}
.btn:hover{
    background-color: rgb(77, 7, 77);
}
.dropdown-menu{
    background-color: rgb(77, 7, 77);
    color: #fff;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: purple;
}