.matSnackBarLabel{
    background-color:brown;
      color:rgb(0, 0, 0);
  }
  .container-alert{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
