body{
    background-color: #0a0a0a;
    color: #fff;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .mat-mdc-text-field-wrapper{
    background-color: purple;
    color: #fff;
    border-radius: 7px;
    padding: 7px;
    border-width: 2px;
  }
  .mdc-floating-label, .mat-mdc-floating-label {
    color: #fff !important;
  }
  mat-form-field:focus{
    background-color: #fff !important;
  }
 
  mat-error{
    color: #b32b30;
    font-weight: 500;
  }
  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #7c1ca4 !important;
    --mdc-snackbar-supporting-text-color: rgba(214, 214, 214, 0.87);
    --mat-snack-bar-button-color: rgba(0, 0, 0, 0.87);
  }