<form (submit)="onSubmit()" [formGroup]="formRepartidor">

    <app-form-input class="form-control {{dni.errors ? 'is-invalid': ''}}" divClass="mb-3" label="DNI"
      controlName="dni" type="text">
      <small class="invalid-feedback">DNI invalido (solo numeros) </small>
    </app-form-input>
  
    <app-form-input class="form-control {{nombre.errors ? 'is-invalid': ''}}" divClass="mb-3" label="Nombre"
      controlName="nombre" type="text">
      <small class="invalid-feedback">Nombre invalido (solo letras)</small>
    </app-form-input>
  
    <app-form-input class="form-control {{edad.errors ? 'is-invalid': ''}}" divClass="mb-3" label="Edad"
      controlName="edad" type="text">
      <small class="invalid-feedback">Edad invalida (solo numeros)</small>
    </app-form-input>
  
    <div class="form-floating mb-3">
      <select formControlName="unidad" class="form-select {{unidad.errors ? 'is-invalid': ''}}"
        id="floatingInputValue">
        <option [value]="true">Si</option>
        <option [value]="false">No</option>
      </select>
      <label for="floatingInputValue">Unidad Propia</label>
    </div>
  
    <app-form-input class="form-control {{capacidad.errors ? 'is-invalid': ''}}" divClass="mb-3"
      label="Capacidad de Transporte" controlName="capacidad" type="text">
    </app-form-input>
  
    <app-form-input class="form-control {{pais.errors ? 'is-invalid': ''}}" divClass="mb-3"
      label="Pais" controlName="pais" type="text" [readOnly]="true">
      <small class="invalid-feedback">Pais invalido</small>
    </app-form-input>
  
    <button type="submit" class="btn btn-primary mt-2">Enviar</button>
  </form>