.form-select{
    background-color: purple;
}
.btn{
    text-decoration: none;
    background-color: purple;
    border: 1px solid purple;
    width: 150px;
}
.btn:hover{
    background-color: rgb(77, 7, 77);
}